*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cormorant Unicase', serif;
    color: #fff;
    background: #000;

}
/* Navigation and header info */
#header-into{
    width: 100%;
    height: 100vh;
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.overly-bg{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, .6);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    
}
.logo{
    text-decoration: none;
    color: #fff;
    font-size: 3em;
    text-shadow: 6px 6px 6px #000000;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    transition: .5s;
}
.nav-links ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2em;
    text-shadow: 3px 3px 4px #000;
    transition: .5s;
}
.nav-links ul li:hover{
    transform: translate(4px);
}
.nav-links ul li a::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #f33;
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-links ul li a:hover::after{
    width: 100%;
}
.content-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.content-box h1{
    text-transform: capitalize;
    font-size: 5em;
    font-weight: 300;
    padding-bottom: 10px;
}
.content-box h2{
    font-size: 3em;
    text-transform: uppercase;
   
}
.content-box p{
   
    font-size: 2em;
    margin: 10px;
    letter-spacing: 5px;
    font-weight: 500;
}
.hero-btn{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 30px;
    text-transform: capitalize;
    letter-spacing: 4px;
    cursor: pointer;
    position: relative;
    background: transparent;
}
.hero-btn:hover{
   background: #000000;
   color: rgb(224, 0, 0);
   position: relative;
}
nav .fas{
    display: none;
}


@media(max-width:768px){
    .content-box h1{
        font-size: 2.5em;
        font-weight: 700; 
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        height: 100vh;
        width: 200px;
        background: #f33;
        top: 0;
        right: -200px;;
        text-align: left;
        z-index: 2;
        transition: .5s;
    }
    nav .fas{
        display: block;
        margin: 10px;
        padding: 10px;
        font-size: 2em;
       
    }
    .nav-links ul{
        padding-left: 20px;
        font-size: 20px;
    }
}
/* About */
#about{
  width: 100%;
  height: 450px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  background: #444;
}
#about h2{
    margin: 20px;
    padding-bottom: 10px;
    font-size: 35px;
    font-weight: 300;
    text-transform: capitalize;
}
#about .about-btn{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    transition: 1s;
   
}
#about .about-btn:hover{
    background: #d11616;
}
@media(max-width:768px){
        #about{
            width: 100%;
            height: 650px;
            margin: 0 auto;
            text-align: center;
            padding-top: 100px;
            background: #3b3b3b;
          }
  
}
/* Explore service */
.explore{
    width: 100%;
    padding-top: 50px;
    margin: 0 auto;
    background: #fff;
}
.explore h3{
    color: #000000;
    margin: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
}
.explore h3::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: #f33;
    display: block;
    margin:0 auto;
    transition: .5s;
}
.explore h3:hover::after{
    width: 25%;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.explore-col{
    flex-basis: 32%;
    border-radius: 10%;
    padding:0 20px;
    margin-bottom: 5%;

}
.explore-col img{
    width: 100%;
    height: 180px;
    border-radius: 5px;
  
}
.ex-disc{
    color: #3b3b3b;
    text-transform: capitalize;
}
.ex-disc h2{
    padding:10px 0;
}
.ex-btn{
    text-decoration:none ;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #d11616;
    font-size: 17px;
    font-weight: 700;
}

@media(max-width:768px){
    .row{
        flex-direction: column;
    }
}

/* client bio */
#client{
    width: 100%;
    margin: auto;
    padding: 30px;
    background-color: rgb(37, 37, 37);
}
.client-bio-col{
    flex-basis: 45%;
    margin-top: 5%;
}
.client-bio-col img{
    display: block;
    border-radius: 10px;
    padding: 10px;
}
.client-bio-col h3{
    text-transform: uppercase;
    
   padding-bottom: 50px;
   font-weight: 300;
}
.client-bio-col h1{
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 30px;
}
.client-bio-col p{
    text-transform: capitalize;
    font-weight: 300;
    padding-bottom: 20px;
    font-size: 20px;
    margin-top: 10px;
}
.client-btn{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 30px;
    text-transform: capitalize;
    letter-spacing: 4px;
    cursor: pointer;
}
/* culture */
#culture{
    width: 100%;
    height: 700px;
    background-color: #fff;
    color: #000000;
    padding: 30px;
}
#culture h2{
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 20px;

}
#culture p{
    padding-top: 12px;
    padding-bottom: 20px;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 300;
}
.culture-col{
    flex-basis: 33%;
    border-radius: 10%;
    padding:0 20px;
    margin-bottom: 5%;
}
.culture-col img{
    width: 100%;
    border-radius: 5px;
}
.culture-dis h3{
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: 500;
}
.culture-dis p{
    font-weight: 300;

}
.culture-dis a{
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    letter-spacing: 4px;
}




@media(max-width:768px){
    #culture{
        background: #fff;
        width: 100%;
        height: 1950px;
    }
    #culture h3{
        font-size: 25px;
        font-weight: 500;
    }
    #culture p{
        font-size: 20px;
        font-weight: 700;
    }

}

/* Quate */
#quate-bg{
    width: 100%;
    height: 100vh;
    background-image: url(../image/writing.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.overly-quate-bg{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, .7);
}
.quate-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.quate-box h2{
    text-transform: capitalize;
    font-weight: 500;
}
.quate-box p{
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 300;
}
@media(max-width:768px){
    #quate-bg{
        height: 500px;
       
    }
    .overly-quate-bg{
        height: 500px;
    }
    .quate-box h2{
        font-size: 25px;
        font-weight: 300;
    }

}
/* Feature */
#feature{
    width: 100%;
    margin: auto;
    padding: 30px;
    background-color: rgb(37, 37, 37);

}
.feature-col{
    flex-basis: 50%;
    margin-top: 20px;
    padding-bottom: 20px;
}
.feature-col h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 20px;
}
.feature-col h1{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 4px;

}
.feature-col p{
    text-transform: capitalize;
    padding: 20px 0;
    font-weight: 500;
    font-size: 20px;
}
.future-btn{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 30px;
    text-transform: capitalize;
    letter-spacing: 4px;
    cursor: pointer;
}
.feature-col img{
    width: 100%;
    border-radius: 10px;
}


/* Footer */
.footer{
    width: 100%;
    height: 450px;
    padding-top: 30px;
    text-transform: uppercase;
    background-color: #171718;
}
.footer-col{
    padding: 0 30px;
    margin-bottom: 5%;
}
.footer-col h2{
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 22px;
    color: #ece9e9;
}
.footer-col p{
    padding-bottom: 10px;
    font-weight: 500;
}
.fab{
    padding: 10px;
   font-size: 25px;

    
    
}
.footer-col label{
    display: block;
    text-align: center;
}
.footer-col input{
        display:block;
        margin: 0 auto;
        padding: 5px 20px;
        text-align: center;
}

.add-info{
    padding: 0 30px;
    text-align: center;
}
.add-info a{
    display:block;
    color: #fff;
}

.copyright{
    padding-top: 5px;
}

@media(max-width:768px){
    .footer{
        height: 750px;
    }
    .footer-col h2{
        font-size:28px;
    }
    .footer-col p{
        font-size: 22px;
    }
}
   
